ion-card {
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  
  &-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  &-subtitle {
    color: var(--ion-color-medium);
  }
}

ion-chip {
  text-transform: capitalize;
  margin: 2px 4px;
  font-weight: 500;
}

ion-progress-bar {
  margin: 0 8px;
  border-radius: 4px;
  height: 8px;
}

ion-img {
  max-width: 200px;
  margin: 0 auto;
  background: rgba(var(--ion-color-light-rgb), 0.4);
  border-radius: 8px;
  padding: 8px;
}